.cdp {
  --white: #fff;
  --cobalt-blue: #3562a6;
  --sky-blue: #acc5e2;
  --yellow: #ffe142;
  --sand-dune: #f1b684;
  --red: #f44620;

  --turquoise: #3bdcc9;
  --turquoise-800: #10453f;
  --turquoise-400: #246860;
  --turquoise-200: #35a093;
  --turquoise-60: #88eade;
  --turquoise-20: #d5f5f0;


  --black: #141414;
  --black-2: #000;
  --gray-100: #3a3a37;
  --gray-75: #787874;
  --gray-50: #acaca7;
  --gray-25: #d4d4d0;
  --gray-15: #e6e6e3;
  --gray-5: #f5f4f1;
}