:root{ 
    --onx-A1: #171d25;
    --onx-A2: #212121;
    --onx-A3: #424242;
    --onx-A4: #757575;
    --onx-A5: #9E9E9E;
    --onx-A6: #BDBDBD;
    --onx-A7: #E0E0E0;
    --onx-A8: #EEEEEE;
    --onx-A9: #F5F5F5;
    --onx-A10: #FAFAFA;
    --onx-success-light: #B7E5C7;
    --onx-success-main: #6DBC8D;
    --onx-success-dark: #10554B;
    --onx-error-light: #FFD7D7;
    --onx-error-main: #b96464;
    --onx-error-dark: #F85757;
    --onx-info-light: #F7F8F8;
    --onx-info-main: #4B4B4B;
    --onx-info-dark: #101010;
    --onx-text-light: #fff;
    --onx-text-main: #BDBDBD;
    --onx-text-dark: #212121;
    --onx-text-black: #0D444B;
    --onx-text-error: #ff0000;
    --onx-card-bs-base: 0px 2px 1px -1px rgba(180, 179, 189, 0.25), 2px 0px 1px rgba(180, 179, 189, 0.04), 0px 2px 8px rgba(180, 179, 189, 0.25);
    --onx-card-bs-metallic: 0px 2px 1px -1px rgba(180, 179, 189, 0.25), 2px 0px 1px rgba(180, 179, 189, 0.04), 0px 2px 8px rgba(180, 179, 189, 0.25), inset 1px 2px 0px #FFFFFF;
    --onx-card-bs-hover: 0px 4px 4px rgba(180, 179, 189, 0.23), 2px 0px 1px rgba(180, 179, 189, 0.04), 0px 16px 26px rgba(180, 179, 189, 0.44);
    --onx-btn-primary: #171d25;
    --onx-btn-secondary: #F0F0F0;
    --onx-btn-disabled: #F5F5F5;
    --onx-btn-primary-color:rgba(255, 255, 255, 0.8);
    --onx-btn-secondary-color:#1F1F1F;
    --onx-btn-disabled-color:#BDBDBD;
    --onx-linear-grad: linear-gradient(to bottom, #2361a5, #1d5596, #174987, #113d78, #093269, #082b5d, #062451, #041d46, #06183b, #071230, #060a26, #00001c);
}

