.v2-image-carousel{
  height: 100%;
  width: 100%;
  background-color: #a9a9a9;
  &-closeicon{
   display: flex;
   justify-content: flex-end;
   padding: 15px;
  }
  &-icon{
    height: 24px !important;
    width: 24px !important;
    color: #fab144;
    cursor: pointer;
  }
  &-container{
height: 100%;
    width: 100%;
    display: flex;
    flex: 10 1;
    align-items: center;
    justify-content: center;
    background-color: #a9a9a9;
  
  &-image{
    width: 100%;
    display: flex;
    flex: 1 1;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &-docs{
    font-size: 15rem !important;
    color: grey;
    flex: 1 1;
  }
  }
}