.SpecificationFilterDateRange{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &__header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        align-items: center;
        &__name{
            font-size: 1.2rem;
            font-weight: 600;
        }
        &__active{
            font-size: 1.2rem;
            font-weight: 400;
            color: #c2c2c2;
        }
        &__action{
            padding-right: 10px;
            display: flex;
            align-items: center;
            &__value{
                background: #dddd;
                width:20px;
                border-radius: 50%;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
            &__clear{
                font-size: 1rem;
                margin-right: 1rem;
                cursor: pointer;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        &__input{
            padding: 10px 0;
            flex-basis: 45%;
            .MuiOutlinedInput-input {
                padding: 10px 0 10px 12px;
            }
            .MuiInputLabel-root{
                font-size: 1rem;
            }
            .MuiFormHelperText-contained{
                font-size: 0.9rem;
                margin: 0px;
            }
            .MuiOutlinedInput-adornedEnd{
                padding-right: 0;
            }
        }
    }
}