.PageNotFound{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    &__message{
        font-size: 1.8rem;
        margin-bottom: 2rem;
        color: #808080d1;
    }
}