@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.drawings-header{
    @include flexCenter(flex-start);
    margin: 0px 0px 10px 0px;

    &__navBack{
        font-size: 1.8rem;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    &__text{
        overflow-wrap: anywhere;
        h2{
            font-size: 2.2rem;
            font-weight: 600;
            margin-right: 10px;
        }
        p{
            font-size: 1.2rem;
        }
    }
}