
@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.sepecification-menu-item{
    color: #6c6969;
    font-size: 1.4rem !important;
    &__icon{
        svg{
            position: relative;
            top: 4px;
            margin-right: 10px;
            color: #6c6969;
            font-size: 1.8rem;
        }
    }
}

.specificationSheetAction{
    .MuiIconButton-root{
        padding: 3px;
    }
}