@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.viewer-header{
    padding: 20px 20px 10px 20px;
    width: 100%;
    box-shadow: 0px 2px 4px #9e989869;

    &__wrapper{
        @include flexCenter(space-between);
        flex-wrap: wrap;

        &__navBack{
            font-size: 1.8rem;
            position: relative;
            top: 3px;
            cursor: pointer;
        }

        &__text{
            @include flexCenter(flex-start);
            position: relative;
            top: -5px;
            
            h2{
                font-size: 2.2rem;
                font-weight: 600;
                margin-right: 10px;
            }
            p{
                font-size: 1.2rem;
            }
        }

        &__header{
            @include flexCenter(flex-start);
        }

        &__followers{
            @include flexCenter(flex-end);
            flex-wrap: wrap;
            &__container{
                display: flex;
                justify-content: space-between;
                &__active{
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    border: 1px solid #c1c1c1;
                    border-radius: 4px;
                    margin: 0 1rem;
                    &__session{
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 16px;
                        background-color: #3f943f;
                        margin-right: 1rem;
                    }
                }
                &__user{
    
                    .MuiAvatarGroup-avatar {
                        height: 3rem;
                        width: 3rem;
                        font-size: 1.6rem;
                        background: #1d3a40;
                        color: #fff;
                        font-weight: 600;
                        text-transform: uppercase;
                        cursor: pointer !important;
                    }
                }
            }
        }
    }
}