@import '../../../../../assets/onx/variable';

.productivity-metrics {
  margin: 16px;
  width: calc(100vw - 100px);
  overflow-x: scroll;
  &__container {
    min-width: 1900px;
    width: 100%;
  }
  &__row {
    display: grid;
    grid-template-columns: 3.5fr 2fr 3fr 4fr 1.2fr;
    & .cost-code {
      color: #3a8be3;
      cursor: pointer;
      font-weight: 500;
    }
  }
  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background: $onx-primary;
    color: white;
    padding: 10px;
  }
  &__header {
    text-align: left;
    font-size: 16px;
    color: $onx-primary;
    background: rgba(244, 249, 248, 1);
    margin-top: 10px;
    font-weight: 500;
    & > div {
      border: 1px solid rgba(59, 59, 59, 0.22);
      padding: 8px 6px;
      margin-left: -1px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__body {
    text-align: left;
    font-size: 13px;
    color: $onx-primary;
    background: rgba(180, 179, 189, 0.1);
    & > div {
      border: 1px solid rgba(59, 59, 59, 0.22);
      padding: 12px 6px;
      margin-left: -1px;
      margin-top: -1px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__expand {
    text-align: left;
    font-size: 13px;
    color: $onx-primary;
    background: white;
    & > div {
      border: 1px solid rgba(59, 59, 59, 0.22);
      padding: 12px 6px;
      margin-left: -1px;
      margin-top: -1px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  & .success-color {
    color: rgba(107, 163, 102, 1);
  }
  & .alert-color {
    color: rgba(229, 117, 105, 1);
  }
  &__col-1 {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-gap: 6px;
    align-items: center;
  }
  &__col-2 {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 6px;
    align-items: center;
  }
  &__col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    grid-gap: 6px;
    align-items: center;
  }
  &__col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr;
    grid-gap: 6px;
    align-items: center;
  }
  &__col-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    align-items: center;
  }
  &__toggle-icon {
    margin-right: 10px;
    &.close {
      transform: rotate(-90deg);
    }
  }
}