@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.ProjectMaterialMaster {
  padding: 10px 25px;

  &-header {
    h2 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-right: 10px;
    }
  }

}

.modalContent {
  display: flex;
  justify-content: center;
}

.ProjectMaterialMasterTableHeader {
  font-weight: bold;

  &__text-cell{
    width: 120px;
  }
}

.gap-1 {
  gap: 1%;
}

.ProjectMaterialMasterTablePagination {
  position: sticky;
  bottom: 0px;
  z-index: 2;
  background: white;
}

.ProjectMaterialMasterTable {
  border-right: 1px solid #BDBDBD;
  border-left: 1px solid #BDBDBD;
  overflow: auto;

  .project-material-editable-field {
    .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }
  }

  .bordered-cell {
    border-right: 1px solid #BDBDBD;
  }

  th {
    border-top: 1px solid #BDBDBD;
  }

  td.bordered-cell {
    padding: 0px;
    background: white;
    overflow: hidden;
  }

  td.non-editable-cell {
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    text-overflow: ellipsis;
  }

  .left-border.bordered-cell {
    border-left: 1px solid #BDBDBD;
  }

  .MuiTableRow-root:nth-child(even) {
    background: #FAFAFA;
  }

  .MuiTableRow-root {
    border-bottom: 1px solid #BDBDBD;
  }
}

.d-flex {
  display: flex;
}

.unitWidth{
  width: 31px;
}
.btnAdd {
  right: 20px;
}
.noCreatePermission-material{
  width: 100%;
  padding: 10px;

  .no-permission-material{
      @include flexCenter(center);
      flex-wrap: wrap;
      margin: 10px 0px;
      height: 60vh;
      width: 100%;
      font-size: 1.4rem;
   }
}