.v2-project-metrics {
  display: flex;
  flex-direction: column;
  padding: 10px;
  &-card {
    width: 260px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    &-title {
      font-size: 20px;
      font-weight: 500;
    }
    &-value {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 500;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-popover {
    height: 200px;
    width: 200px;
  }
}