.v2-project {
  height: 100%;
  position: relative;
  &-circle {
    border-radius: 50%;
    background-color: #fff;
    border: 10px solid rgb(105, 105, 105);
  }

  &-item {
    height: 160px;
    width: 160px;

    &-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
    }

    &-chip {
      position: relative;
      width: 100px;
      height: 24px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(59, 59, 59, 0.1);
      border-radius: 2em;

      &>svg {
        position: absolute;
        right: 4px;
      }
    }
  }
  &-timeline {
    position: absolute;
    width: 70vw;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}