.dropdown1-container {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .filter {
    height: 25px;
    font-weight: 500;
    background: #171d25;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
  }
  .filterButton__style {
    margin-left: 0.8rem;
    background: #171d25;
    border-radius: 10px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
    &__icon {
      background: #171d25;
      border-radius: 4px;
      color: #fff;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .MuiInputBase-input {
    padding: 0.8rem !important;
  }
  .MuiIconButton-root {
    padding: 0.5rem;
  }
  .MuiList-padding {
    padding: 0 !important;
  }
}

.widget1-container {
  &__main {
    width: 30rem !important;
    display: flex;
    flex: 1;
    padding: 1rem 2rem;
    &__container {
      margin-right: 2rem;
    }
  }
  .MuiList-root {
    div {
      width: 100%;
      margin-right: 0px !important;
    }
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .MuiFormControlLabel-root {
    justify-content: space-between;
  }
  .MuiFormControlLabel-labelPlacementStart {
    margin-left: 0px;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #353e49;
    margin-bottom: 5px;
  }
  .sub {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #353e49;
  }
}

.menu1-container {
  &__main {
    width: 28rem;
    height: 22rem;
    display: flex;
    flex: 1;
    padding: 1rem 2rem;
    flex-direction: column;
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      &__year {
        padding: 0.5rem 1rem;
        min-width: 8rem;
        margin-right: 1rem;
        font-weight: bold;
        background: #d8e6e1;
        border-radius: 10px;
        text-align: center;
      }
      .btn-primary {
        margin: 0px !important;
        min-width: 10rem !important;
        padding: 0.5rem 1rem;
        margin-right: 1rem !important;
      }
    }
  }
  .cancel {
    background: #eaeaea;
    color: #353e49;
    box-shadow: none;
    border-radius: 5px;
    text-transform: none;
    margin-right: 10px;
  }
  .apply-filter {
    background-color: #d8e6e1 !important;
    box-shadow: none;
    color: #353e49;
    border-radius: 5px;
    text-transform: none;
  }
}

.menu1-list {
  max-height: 14rem;
  overflow: auto;
  margin-top: 0;
  border: 0.5px solid lightGrey;
  width: 10rem;
  &__yearContainer {
    display: flex;
    margin: 1rem 0;
    &__innerContainer {
      margin-right: 1rem;
    }
    &__innerContainerFlex {
      flex: 1;
    }
  }
  &__buttonContainer {
    margin: -1rem 2rem 1rem 2rem;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .MuiList-padding {
    padding: 0;
  }
  .MuiListItem-root.Mui-selected,
  .MuiListItem-root.Mui-selected:hover {
    background-color: #171d25;
    color: #fff;
  }
}
