.v2-project-navigator {
  position: relative;
  &-bg {
    width: 100%;
  }
  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  &-element {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}