.stackbar-chart {
  .chart-top-legend-container {
    width: 25rem;
    text-align: center;
  }
  .chart-bottom-legend-container {
    width: 25rem;
    text-align: center;
  }

  .bc-legend span {
    display: inline-block;
    vertical-align: middle;
  }

  .bc-legend-color {
    width: 30px;
    height: 15px;
  }

  .bc-legend-label {
    padding: 0 10px;
    font-size: 12px;
  }
  .bc-y-axis path,
  .bc-y-axis .tick line {
    fill: transparent;
    stroke: #eee;
  }

  .bc-x-axis path,
  .bc-x-axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
  }

  .bc-axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #888;
  }
  #tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    pointer-events: none;
  }
  #tooltip.hidden {
    // display: none;
  }
  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  /* tooltip */
  .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 10000;
  }
}
