@import '../../../../../assets/onx/variable';
@import "../../../../../assets/onx/abstracts/mixins";
dvaUploadList{
    width: 100%;
    height: 100%;
    letter-spacing: 0.5px;
    position: relative;
    bottom: 70px;

    .add-new-button {
        margin: 20px 20px !important;
        float: right;
        position: absolute;
        top:60px;
        right:100px;
    }

    .upload-button-2 {
        margin: 20px 0 !important;
    }
    .content{
        max-width: 600px;
    }
    }

    .dva-horizontal-line {
      position: absolute;
      width: 100%;
      height: 0px;
      top: 114px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .dva-dialog {
      
      .MuiDialog-paper {
        overflow-y: hidden;
      }
        &__content {
          &__fields {
      
            &__header {
              font-weight: 600;
            }
      
            .MuiGrid-item {
              width: 300px;
              padding: 0px 15px 0px 15px;
            }
      
            .MuiFormLabel-root {
              font-weight: 600;
              line-height: 16px;
              color: #000000;
            }
      
            .MuiInput-root {
              width: 100%;
            }
      
            .MuiInputBase-input,
            .MuiSelect-selectMenu {
              font-size: 1.3rem;
              color: #1f1f1f;
            }
      
            &__select-box {
              font-size: 1.3rem;
              color: #1f1f1f;
            }
          }
      
          &__popUpBody {
            padding: 20px;
          }
        }
      
        &__footer {
          @include flexCenter(flex-end);
          margin: 15px 0px;
        }
      }
      .button-delete{
        background: none;
        border: none;
        color: #D02F2F;
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        left: 28px;
        position: absolute;
      }
      .type-container{
        position: relative;
      }
      
      .tags {
        display: grid;
        grid-template-columns: 130px auto;
      
        &__action {
          &__btn {
            cursor: pointer;
      
            &__icon {
              height: 20px;
              margin-right: 2px;
            }
      
            &__text {
              position: relative;
              top: 1px;
              font-weight: 600;
              font-size: 1.2rem;
              line-height: 18px;
            }
          }
      
          &__btn:hover {
            @include flexCenter(flex-start);
            background: transparent;
          }
        }
      
        &__lists {
          padding: 5px 10px;
        }
      }
      
      .popUpBody {
        padding: 15px 20px;
      }
      
      
      .edit-icon {
        position: relative;
        top: 2px;
        height: 20px;
        margin-left: 0px;
        color: #b0b0b0;
        cursor: pointer;
      }
      
      .editTask {
        @include flexCenter(space-between);
        flex-wrap: wrap;
      
        &__info {
          @include flexCenter(flex-end);
          color: #a1a1a1;
          font-size: 1.2rem;
      
          &__wrap {
            margin-left: 15px;
          }
      
          &__header {
            font-weight: 600;
          }
        }
      }
      
      .error-wrap {
        color: $onx-red;
        height: 18px;
        font-size: 1.2rem;
        position: relative;
        bottom: 5px;
      
        &__message {
          padding: 0px;
          margin: 0px;
          font-size: 1rem;
        }
        &__message-small {
          padding: 0px;
          margin: 0px;
          font-size: 0.9rem;
        }
      }

        #dva-form-dialog-title {
          background-color: #0D444B;
          color:#FFF;
          height: 55px;
          width: 500px;
        }
    
        .dva-manditory {
          color:red;
          padding-left: 5px;
        }
    
        .dva-dialog-add-script
        {
          width: 551px;
          height: 444px;
          left: 430px;
          position: absolute;
          top: 130px;    
        }

        .dva-add-script-text-field {
          box-sizing: border-box;
          position: absolute;
          width: 415px;
          height: 35px;background: #FFFFFF;
          border: 1px solid rgba(59, 59, 59, 0.4);
        }
  
         .dva-dialog__content {
          width: 541 !important;
          height: 400px;
          overflow: none;
          padding: 0px !important;
        }
  
        .dva-grid-input-label {
          height:21px;
          width:300px;
        }
        
        .dva-dialog_content_new_scriptname {
          position: absolute;
        }
  
        .dva-dialog_content_new_scriptcategory {
          position: absolute;
          top: 148px;
        }

        .dva-dialog_content_new_scriptdescription {
          position: absolute;
          top: 231px;
        }
  
        .dva-dialog__footer {
          bottom: 10px;
          position: absolute;
          left: 292px;
        }
        
        .horizontal-line{
          position: absolute;
          width: 550px;
          height: 444px;
          background: #FFFFFF;
          border-radius: 4px;
        }

        .dva-new-btn-secondary {
          position: absolute;
          width: 100px;
          height: 35px;
          right: 56px;
          border: 1px solid #0D444B;
          text-transform: none !important;
        }

        .dva-new-btn-primary {
          left: 61px;
          height: 35px;
          width: 100px;
          position: relative;
          border-radius: 4px;
          background-color: #0D444B !important;
          color: #FFF;
          text-transform: none !important;
        }

        .horizontal-line {
          position: absolute;
          width: 499px;
          bottom: 80px;
          height: 0px;
          left: 1px;
          border: 0.5px solid rgba(59, 59, 59, 0.5);
          border: 0.5px solid #3B3B3B80
        }
        
        .dva-upload-list-header {
          width: 200px;
          height: 50px;
          position: absolute;
          top:55%;
          left:47%;
        }

 
  
