@import "../../../../../assets/onx/variable";

.cloneWorkflowPopup__main {
  padding: 2rem;
  &__label {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__error {
    margin-top: 0.2rem;
    font-size: 1.15rem;
    color: #e12323;
    font-weight: 600;
    max-width: 30rem;
    overflow-wrap: break-word;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: normal;
    max-width: 28rem;
    overflow-wrap: break-word;

    &__stepName {
      font-weight: bold;
    }
  }
  &__iconContainer {
    font-family: Montserrat;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: bold;
    &__icon {
      margin-right: 0.4rem;
    }
  }

  &__buttonContainer {
    margin-top: 1rem;
    &__button1 {
      @include button(#000000, #ffffff);
      border: 1px solid #666666;
      margin-right: 1rem;
      padding: 1.4rem 2.5rem !important;
      &:hover {
        color: #ffffff;
        background-color: #666666;
      }
    }
    &__button2 {
      @include button(#ffffff, #666666);
      padding: 1.4rem 2.5rem !important;
      &__disable {
        opacity: 0.5;
      }
      color: #ffffff !important;
      &:hover {
        color: #000000 !important;
      }
    }
  }
}
