@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.fieldTitle{
    font-weight: 600;
    font-size: 2.4rem;
    padding: 4px 24px;
    color: #333333;
}

.versionFeilds, .sheetFeilds{
    padding: 4px 24px 15px 24px;
    border-bottom: 1px solid #d3d3d359;
    &__title{
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: #7d7d7d;
    }

    &__lists{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 10px;
        width: 100%;
        
        &__item{
            height: 90px;
            background: #E7E7E7;
            color: #646464;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            cursor: pointer;

            &__label{
                font-size: 1rem;
                text-align: center;
                padding: 10px;
            }
            &__icon{
                font-size:3.2rem;
            }
        }
    }
}