@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

 .rfiTable{
    &__root{
        width: 100%;
        padding: 0;
        display: flex;
        height: 100%;
        & .MuiPaper-elevation1{
            box-shadow: none;
        }
        .nodata{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
        }
    }
    &__container{
        height: 100%;
        width: calc(100vw - 75px);
    }

    &__paper{
        width: 100%;
        margin-bottom: 0;
        display: flex;
    }

    &__visuallyHidden{
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 20px;
        width: 1px;
    }
    &__cell{
        font-size:1.2rem;
        color: #333333;
        padding: 4px 16px;
        height: 50px;
        &__namefield{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__icon{
                font-size: 1.4rem;
            }
        }
    }
    &__headecell{
        font-size:1.2rem;
        color: #333333;
        font-weight: 600;
    }
    &__cellicon{
        font-size:1.8rem;
        cursor: pointer;
        color: #B0B0B0;
    }
    &__row{
        cursor: pointer;
        &:hover{
            background-color: #c8c8c842;
        }
        &__nodata{
            text-align: center;
            color: #c2c2c2;
        }
    }
    &__action-cell{
        width: 125px;
    }

    &__form-row{
        cursor: pointer;
    }

    &__form-row:hover{
        background: #c8c8c842;
    }
    &__form-action-icon{
        height: 20px;
        margin-left: 5px;
        color: #B0B0B0;
        cursor: pointer;
    }
 }

 .no-permission{
    @include flexCenter(center);
    flex-wrap: wrap;
    margin: 10px 0px;
    height: 60vh;
    width: 100%;
    font-size: 1rem;
 }