.notification {
  &_container {
    width: 500px;
    height: 600px;
    padding: 0 0 2rem 0;

    &_headerSection {
      position: sticky;
      top: 0;
      display: flex;
      width: "calc(100% - 2rem)";
      align-items: center;
      padding: 2rem;
      background-color: white;
      border-bottom: 1px solid #c4c4c4;
      &_header {
        font-size: 15px;
      }

      &_notificationCountPill {
        margin-left: 12px;
        background-color: #1d3a40;
        border-radius: 7px;
        padding: 1px 10px;
        color: #fff;
      }

      &_markAllAsRead {
        font-size: 13px;
        margin-left: auto;
        cursor: pointer;
        &:hover {
          color: rgb(114, 114, 114);
        }
      }
    }

    &_divider {
      margin: 1rem 2.6rem;
      height: 0;
      border-top: 1px solid #c4c4c4;
    }

    &_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      &_helper_text {
        margin-top: 1rem;

        &_bold {
          font-weight: bold;
        }
      }
    }

    &_items_container {
      margin-top: 18px;
      display: flex;
      flex-flow: column wrap;
    }

    &_item {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2.5rem;
      cursor: pointer;
      text-decoration: none;
      color: rgb(48, 48, 48);
      &:hover {
        background-color: rgb(238, 238, 238);
      }

      &_content {
        display: flex;
        &_avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(206, 206, 206);
          height: 24px;
          width: 24px;
          background-color: rgb(88, 88, 88);
          border-radius: 50%;
        }

        &_message_box {
          margin-left: 1rem;
          max-width: 320px;
          &_message {
            font-weight: normal;
            font-size: 1.2rem;
          }
          &_action {
            margin-top: 4px;
            border-radius: 7px;
            padding: 3px 10px;
            display: inline-block;
            color: #ffffff;
            background-color: #171d25;
            font-size: 1.2rem;
          }
        }
      }

      &_timeAgo {
        font-weight: 300;
        font-size: 10px;
        color: #a8a8a8;
      }
    }
  }

  &_status {
    margin: 5px 10px;
    // box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%), 0 1px 10px 0 rgb(0 0 0 / 0%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0) !important;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }

    &_unread {
      background-color: #f5f5f5;
      font-weight: 600;
    }
  }
}
