.projectView1-main {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 5.5rem 1rem 0 1rem;
  height: 100vh;
  flex-direction: column;
  &__container {
    display: flex;
    flex: 1;
    width: 100%;
    &__left {
      display: flex;
      flex: 8.3;
      width: 100%;
      flex-direction: column;
      &__nameAndFilterContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0 0.5rem 0;
        padding: 0.5rem 1rem;
        &__portfolioTitle {
          color: #1d3a40;
          font-size: 2rem !important;
          font-weight: bolder !important;
        }
      }
      &__widgetsContainer {
        display: flex;
        flex: 8;
        padding-top: 0.5rem;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &__noContent {
          align-items: center;
          &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            align-items: center;
            &__img {
              height: 40%;
              width: 40%;
            }
            &__text {
              color: lightgray;
            }
          }
        }
        &__content {
          overflow-y: scroll;
          mask-image: linear-gradient(to top, transparent, black),
            linear-gradient(to left, transparent 17px, black 17px);
          -webkit-mask-image: linear-gradient(to top, transparent, black),
            linear-gradient(to left, transparent 17px, black 17px);
          mask-size: 100% 20000px;
          -webkit-mask-size: 100% 20000px;
          -webkit-mask-position: left bottom;
          mask-position: left bottom;
          transition: mask-position 0.3s, mask-position 0.3s;
          &:hover {
            mask-position: left top;
          }
        }
        &__wrapper {
          float: left;
        }
      }
      &__timeline {
        display: flex;
        flex: 4;
        width: 100%;
        flex-direction: column;
        justify-content: center;
      }
    }
    &__right {
      display: flex;
      flex: 2.7;
      height: 100%;
      padding: 2rem 1rem 1rem 2rem;
      flex-direction: column;
      &__mapContainer {
        margin-bottom: 1rem;
      }
      &__taskAndTweetsContainer {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;
        /* Remove this if you don't want the 3D effect */
        &__flip-icon-container {
          min-width: 41rem;
          max-width: 41rem;
          position: relative;
          &__flip-icon {
            position: absolute;
            right: -3.5rem;
            font-size: 1.8rem;
            top: 1.5rem;
            z-index: 1;
            color: #fff;
            cursor: pointer;
          }
        }
        /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
        &__flip-card {
          background-color: transparent !important;
          perspective: 1000px; /* Remove this if you don't want the 3D effect */
          &:hover {
            transform: scale3d(1.02, 1.02, 1);
            transition: all 0.5s ease-in-out !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }

        /* This container is needed to position the front and back side */
        &__flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          // text-align: center;
          transition: transform 1.5s;
          transform-style: preserve-3d;
        }

        /* Do an horizontal flip when you move the mouse over the flip box container */
        &__flip-card-on-hover {
          transform: rotateY(180deg);
        }

        /* Style the back side */
        &__flip-card-back {
          transform: rotateY(180deg);
        }

        /* Position the front and back side */
        &__flip-card-front,
        &__flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
        }
        .slick-slider {
          min-width: 41rem;
          max-width: 41rem;
        }
        .slick-dots {
          top: 45px;
          height: 10px;
        }
        .slick-arrow {
          display: none !important;
        }
      }
    }
  }
  &__carouselIconButton {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: #8eb2ae;
    border-radius: 4px;
    padding: 0.5rem 0.2rem;
    transition: all 0.5s ease-in;
    width: 1.8rem;
    top: 48%;
    &:hover {
      background-color: #8eb2ae;
      color: #1d3a40;
    }
    &__icon {
      color: #1d3a40;
    }
  }
  &__carouselContainer {
    max-height: 50rem;
    background-color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 25%;
    transition: all 0.5s ease-in-out;
    &__show {
      width: 8rem;
      visibility: visible;
    }
    &__hide {
      width: 0;
      visibility: hidden;
    }
    &__listImages {
      height: 39.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      &__center {
        justify-content: center;
      }
      &__imageStyle {
        height: 6rem;
        min-height: 6rem;
        max-height: 6rem;
        transition: all 0.5s ease-in-out;
        margin: 0.8rem 0;
        border-radius: 4px;
        background-color: lightgray;
        cursor: pointer;
        &__show {
          width: 6rem;
          visibility: visible;
        }
        &__hide {
          width: 0rem;
          visibility: hidden;
        }
      }
    }
    &__iconButton {
      color: #fff;
      background-color: #8eb2ae;
      border-radius: 4px;
      padding: 0;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      &:hover {
        background-color: #8eb2ae;
        color: #1d3a40;
      }
      &__icon {
        color: #1d3a40;
      }
      &__show {
        position: fixed;
        right: 8rem;
        width: 1.8rem;
        visibility: visible;
      }
      &__hide {
        visibility: hidden;
        position: fixed;
        right: 0rem;
        width: 0;
      }
    }
  }
  &__noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    &__text {
      font-size: 5rem;
      font-weight: bolder;
      color: #fff;
      padding: 1rem 2rem;
    }
    &__text1 {
      font-size: 3rem;
      font-weight: bolder;
      color: #fff;
      padding: 1rem 2rem;
    }
  }

  .slick-prev {
    left: 0px;
    z-index: 1;
  }
  .slick-next {
    right: 0px;
  }

  .slick-prev:before {
    opacity: 0.1;
  }

  .slick-prev:hover {
    &:before {
      opacity: 1;
    }
  }

  .slick-next:hover {
    &:before {
      opacity: 1;
    }
  }
  .slick-next:before {
    opacity: 0.1;
  }
}
