.customListSelect{
    width: 100%;
    position: relative;
    .MuiOutlinedInput-input{
        padding: 9px 14px;
        font-size: 1.2rem;
    }
    &__fixed{
        color: #fff;
        background: #c2c2c230;
        .MuiOutlinedInput-input{
            color: #000000;
        }
    }
    &__launch{
        position: absolute;
        top: 3px;
        right: 30px;
        color: #0101018a;
        padding: 4px;
    }
}