@import "../../../../../assets/onx/variable";

.lib-info{
    margin: 10px 0px;
    width: 50%;
    &__header{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.88rem;
        float: left;
    }

    &__description{
        font-size: 1.2rem;
        line-height: 16px;
        letter-spacing: 0.4px;
    }
}