@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.spec-list-wrapper{
    box-shadow: 0px 2px 1px -1px #b4b3bd40, 2px 0px 1px #b4b3bd0a, 0px 2px 8px #b4b3bd40;

    &__tab{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 5px;

        &__sheets{
            // @include flexCenter(center);
            @include flexCenter(flex-start);
            flex-wrap: wrap;
            padding: 7px;
            cursor: pointer;

            &__icon{
                margin-right: 7px
            }
        }

        &__layers{
            @include flexCenter(center);
            flex-wrap: wrap;
            padding: 7px;
            cursor: no-drop;

            &__icon{
                margin-right: 7px
            }
        }

        &__active{
            background: #F5F5F5;
            color: #BDBDBD;
        }

        &__search{
            position: relative;
            margin: 5px;

            .MuiOutlinedInput-input{
                padding: 10px 14px;
                font-family: $font-family;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 300;
                line-height: 16px;
                letter-spacing: 0.4000000059604645px;
                text-align: left;
            }
            
            &__icon{
              position: absolute;
              right: 5px;
              top: 5px;
              color: $onx-A7 !important;
            }
        }
    }


}