@import '../../../Styles/colors.scss';

.v2-project-task {
  width: 600px;
  max-height: 500px;
  overflow-y: auto;
  &-loading {
    width: 300px;
    height: 200px;
  }
  &-nav {
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid #FFFFFF4D;
    padding: 10px 6px;
    font-weight:  500;
  }
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
  }
  &-title {
    font-weight: 500;
    margin-right: 4px;
    white-space: nowrap;
  }
  &-col {
    display: flex;
    color: #fff;
    font-size: 14px;
  }
}