@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

.projectsettingDetails{
    padding: 45px 30px 10px 30px;
    margin: 0 auto;
    &__description{
        margin: 21px 0 0 0;
        font-size: 1.2rem
    }

    &__metrics{

        &__container {
            @include flexCenter(flex-start);
            height: 60px;
            position: relative;
        }
        
        &__label {
            .MuiFormLabel-root{
                width: 110px;
                font-size: 1.2rem;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
        &__icon{
            margin-left: 10px;
            font-size: 20px;
            cursor: pointer;
            color: #000;
        }
        }

        &__input-field{
            width: 100%;

        }
    }
}
