.v2-info-container{
    position: relative;
    width: 80%;
    bottom: 100px;
    left: 40px;
    z-index: 2;
}

.v2-content-wrapper{
    min-width: 440px;
    width: 50%;
    border: 1px solid #FAB144;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: -40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 580px;
    overflow: auto;
    animation: fadeup 0.6s linear;

    &-tabs {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        padding: 10px;
        cursor: pointer;
        background-color: #181d24;

        &-tab {
            color: #FFFFFF;
            padding: 5px;

            &-active {
                padding: 5px;
                color: orange;

            }
        }
        & img {
            margin-left: 20px;
        }
        
    }
}

.wrapper {
    position: absolute;
    background-color: #FAB144;
    height: 20px;
    width: 20px;
    bottom: 548px;
    left: 400px;
}

.insights-modal {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(24, 29, 36, 0.9);
    border: 1px solid #FAB144;
    border-radius: 2px;
    animation: fadeup 0.6s linear;
    z-index: 9;

    &-content {
        height: 100%;
        width: 100%;
        padding: 10px;
    }
}