@import '../../../../../../assets//onx/variable';


.PullingTaskToGantt{
    display: flex;
    flex-direction: column;
    &__content{
        background: #FAFAFA;
        &__name{
            display: flex;
            flex-direction: column;
            padding: 5px 0;
            &__label{
                font-size: 1.2rem;
                font-weight: 600;
                padding-bottom: 3px;
                span{
                    color: #f00;
                }
            }
            &__input{
                font-size: 1.2rem;
                .MuiOutlinedInput-input{
                    padding: 10px 10px;
                }
                .MuiInputBase-input{
                    font-size: 1.2rem;
                }
            }
            &__error {
                color: #f00;
            }
        }
        &__time{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 5px 0;
            &__date{
                flex-basis: 48%;
                display: flex;
                flex-direction: column;
                &__label{
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding-bottom: 3px;
                    span{
                        color: #f00;
                    }
                }
            }
            &__duration{
                flex-basis: 48%;
                display: flex;
                flex-direction: column;
                &__label{
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding-bottom: 3px;
                }
                &__field{
                    display: flex;
                    align-items: center;
                    &__label{
                        margin-left: 10px;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                    .MuiFormControl-marginNormal{
                        margin-top: 7px;
                    }
                }
            }
        }
        &__user{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            &__left{
                display: flex;
                align-items: center;
                &__avatar{
                    height: 32px;
                    width: 32px;
                }
                &__name{
                    font-size: 1.3rem;
                    padding-left:20px;
                }
            }
            &__right{
                
            }
        }
        &__parent{
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            &__label{
                font-size: 1.2rem;
                font-weight: 600;
                padding-bottom: 3px;
                span{
                    color: #f00;
                }
            }

        }
        &__action{
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            &__btn{
                margin-right: 10px;
            }
        }
    }
}