@import '../../../../../assets/onx/variable';
@import '../../../../../assets/onx/abstracts/mixins';

.ProjectMaterialMaster {
  padding: 10px 25px;

  &-header {
    h2 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-right: 10px;
    }
    &__upload {
      right: 30px;
    }
  }
}

.noCreatePermission-project-budget {
  width: 100%;
  padding: 10px;

  .no-permission-project-budget {
    @include flexCenter(center);
    flex-wrap: wrap;
    margin: 10px 0px;
    height: 60vh;
    width: 100%;
    font-size: 1.4rem;
  }
}
