@import "../../../../../assets/onx/variable";
@import "../../../../../assets/onx/abstracts/mixins";

// grid view styles starts
.recipe-grid-description{
  height: 85px;
  width: 175px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  color: #545454;
  margin-bottom: 5px;
  overflow: hidden;
  word-wrap: break-word;
}

.recipe-grid-controls{
  // height: 60%;
  float: right;
}


.recipe-grid-type{
  // height: 60%;
  float: left;

  &__duration {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
    color: #9E9E9E;
  }

}

.recipe-grid-view {
  &__card {
    border-radius: 5px;
    background: linear-gradient(132.77deg, #FCFCFC 11.98%, #F1F1F1 111.18%);
    border: 1px solid #d7d7d7;
    padding: 10px 15px;
    margin: 0 0 0 0;

    &__name {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    &__info {
      width: 270px;
      height: 85px;

      &__weekdays {
       // margin-top: 24px;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        color: #000000;
      }
      &__days-hours {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        color: #000000;
        margin-top: 5px;
      }

      &__action {
        display: flex;
        align-items: center;

        &__type{
          @include flexCenter(flex-start);
          width: 50%;
        }

        &__duration{
          font-weight: 300;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 18px; 
          margin: 5px 10px 5px 0px;           
        }

        &__actionButton{
          justify-content: flex-end;
          display: flex;
          align-items: center;
          width: 50%;
        }

        &__icon {
          height: 20px;
          margin-left: 0px;
          color: #b0b0b0;
          cursor: pointer;
          position: relative;
          top: 4px;
        }

       
      }
    }

    // &__info{
    //     @include flexCenter(space-between);
    //     flex-wrap: wrap;

    //     &__type{
    //         @include flexCenter(flex-start);

    //         &__task-type{
    //             font-weight: 600;
    //             font-size: 1.2rem;
    //             line-height: 18px;
    //             margin: 5px 10px 5px 0px;
    //         }

    //         &__duration{
    //             font-weight: 300;
    //             font-size: 1.2rem;
    //             line-height: 18px;
    //             margin: 5px 10px 5px 0px;
    //         }
    //     }

    //     &__action{
    //         @include flexCenter(flex-end);

    //         &__icon{
    //             height: 20px;
    //             margin-left: 0px;
    //             color: #B0B0B0;
    //             cursor: pointer;
    //         }
    //     }
    // }
  }
}


.formlistTable{
  &__cellicon{
      font-size:18px;
      cursor: pointer;
      color: #B0B0B0;
  }
}

.popOverAction {
  .MuiTypography-body1{
    font-size: 12px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
  }

  .MuiTypography-body1:hover{
   // font-size: 12px !important;
    font-weight: 600 !important;
    background: #f2f2f2;
  }

  .MuiPopover-paper {
    width: 160px !important
  }
}