@import "../../../../../../assets/onx/variable";
@import "../../../../../../assets/onx/abstracts/mixins";

.file-attachment{

    &__dropZone{
        @include flexCenter(center);
        flex-wrap: wrap;
        height: 10rem;
        text-align: center;
        width: 100%;
        background: #F8F8F8;
        border: 2px dashed lightgray;
        border-radius: 2px;
        margin-bottom: 10px;
        border: 2px dashed $onx-A5;
        border-radius: 4px;
        background: #F5F5F5;
    }

    &__dropZone--white{
        @include flexCenter(center);
        flex-wrap: wrap;
        height: 17rem;
        width: 100%;
        background: #FFFFFF;
        border: 2px dashed lightgray;
        margin-bottom: 10px;
        border: 2px dashed $onx-A5;
        border-radius: 4px;
        background: #F5F5F5;
    }

    &__text{
        font-size: 10px;

        &__click {
        text-decoration: underline;
        }

        &__click:hover {
            cursor: pointer;
        }
    }

    &__viewList{
        padding: 5px;
        border: 1px solid #F8F8F8;
        border-radius: 5px;
        margin-bottom: 10px;
        display: block;
        &__file{
            @include flexCenter(flex-start);
            position: relative;
            padding: 5px 0px;
           // border: 1px solid;
            min-width: 32%;
            height: 65px;
            background: #FFFFFF;
            border-bottom: 1px solid #C4C4C4C4;
            margin-right: 20px;
            &__description{
                display: flex;
                flex-direction: column;
                &__fileName{
                    color:#000;
                    text-align: left;
                    font-size: 1.2rem;
                }
                &__fileSize{
                    color:#C4C4C4;
                    text-align: left;
                    font-size: 1.2rem;
                }
            }
            &__thumbnail{
                height: 30px;
                width: 30px;
                border-radius: 5px;
                // background: #C4C4C4;
                margin-right: 20px;

                img{
                    height: 30px;
                    width: 30px;
                    border-radius: 5px; 
                }

                svg{
                    height: 30px;
                    width: 30px;
                    border-radius: 5px; 
                }
            }

            &__fileRemove{
                position: absolute;
                right: 10px;
                top: 20px;

                svg{
                    cursor: pointer;
                }
            }
            &__download{
                position: absolute;
                right: 40px;
                top: 20px;

                svg{
                    cursor: pointer;
                }
            }
        }
    }

    .progress{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #C4C4C4;
        position: absolute;
        top: 50px;
    }

}
