$SLATE-V2-1: #181D24;
$SLATE-V2-2: rgba(47, 52, 58, 0.98);
$SLATE-V2-3: #FAB144;
$SLATE-V2-4: #D3D3DE;
$SLATE-V2-DARK-GREY-2: rgba(255, 255, 255, 0.4);
$SLATE-V2-DARK-GREY-1: rgba(255, 255, 255, 0.3);

$SLATE-BOX-SHADOW:rgab(255, 255, 255, 0.25);
$SLATE-BORDER-PRIMARY: #FFFFFF4D;
$LAYER-BG-1: rgba(255, 255, 255, 0.1);
$WHITE: #ffffff;
$BLACK: #000000;
$SLATE-BG-LIGHT:rgba(24, 29, 36, 0.9);

$CLOSED: #3DA564;
$CLOSED-LIGHT: #A8D7A9;
$OVERDUE: #FF7C84;
$IN-PROGRESS: #FFCA6A;
$DRAFT: #B6B6B6;