@import './utils.scss';
@import './colors.scss';

.v2 {
  height: 100vh;
  background-color: $SLATE-V2-1;

  .v2-container {
    height: calc(100vh - 60px);
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: $SLATE-V2-1;
  }
  &-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $SLATE-V2-3;
    -webkit-tap-highlight-color: transparent;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 99999;
  }
  &-loader {
    height: 5em;
    width: 5em;
    border: 0.2em solid $SLATE-V2-3;
    border-top: 0.2em solid transparent;
    animation: circulerRotate 1s linear;
    border-radius: 50%;
    @keyframes circulerRotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
