@import "./assets/onx/variable";

html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171d25 !important;
}

#root {
  height: 100%;
}

.backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 99999;
}

.container {
  height: 100%;
}
