.password-configuration {
  &-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;

    &:focus-visible {
      outline: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 8px 8px 0 0;
    background-color: #fdfdfd;
    box-shadow: 0 1px 2px rgb(196, 196, 196);
  }

  &-body {
    padding: 0 4rem;
    width: 600px;
    height: 400px;
    overflow-y: scroll;
    margin-top: 20px;
  }

  &-input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // gap: 100px;
    margin-bottom: 20px;
  }

  &-label {
    flex-basis: 250px;
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input-container {
    max-width: 200px;
  }

  &-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.v2-password-configuration {
  background-color: #171d25;
  color: white;

  &-header {
    background-color: #171d25;
    border-bottom: 2px solid #fe9a0b;
  }

  &-footer {
    padding: 15px;
    border-top: 2px solid #fe9a0b;
  }

  &-msg {
    color: #fe9a0b;
  }

  &-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 13px;
    background: linear-gradient(0deg, #13223d, #234f70 100%) no-repeat !important;
    color: white !important;
  }

  &-btn:disabled {
    color: grey !important;
  }
}