.v2-insights-detailedfeed {
    height: 100%;
    width: 100%;

    &-details {
        padding: 20px 30px;
        display: flex;
    }

    &-imagebody img {
        height: 364px;
        width: 481px;
        border-radius: 12px;
    }

    &-button button {
        width: 216px;
        height: 55px;
        border-radius: 4px;
        background-color: #FAB144;
        color: #3B3B3B;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 36px;
        margin-left: 20px;
        cursor: pointer;
    }
    &-table{
    margin-top: 60px;    
    animation: fadeup 0.6s linear;
    }
}
