.v2-floatingmenu-container-icon-wrapper{
    position: fixed;
    right: 10px;
    bottom: 110px;
    width: 85px;
    height: 70px;
    background: #061428;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}